*
{
    margin:20px;
    padding:2px;
}
body
{
    background-image: url('Juegos/foto.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Comic Sans MS, "Arial";
    position:relative;
}